html, body {
    height: 100%;
    margin:0;
    padding:0;
}
body {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(auto-fill, minmax(50px, 250px));
    grid-gap: 1em;
    justify-content: center;
}
div{
    background-color:dimgray;
    text-align: center;
    font-size: 10vw;
    line-height: 100%;
}