html, body {
    height: 100%;
    margin: 0;
    padding: 5px;
    font: 16px/1.5 -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
}
body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20vmin, 350px));
    grid-gap: 0.5em;
    justify-content: center;
}
div {
    background-color: dimgray;
    text-align: center;
    font-size: 16vmin;
}