html, body {
    height: 100%;
    margin:0;
    padding:0;
}
body {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    justify-content: center;
}
div{
    background-color:dimgray;
    text-align: center;
    font-size: 10vmin;
    line-height: 100%;
}