html, body {
    height: 100%;
    margin:0;
}
body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20vmin, 350px));
    grid-gap: 0.5em;
    justify-content: center;
}
div {
    background-color: dimgray;
    text-align: center;
    font-size: 16vmin;
}