html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 5px;
    font: 16px/1.5 -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
}
body{
    display:grid;
    grid-template-columns:1fr 3fr;
}
aside{
    background-color:azure;
    height:100%;
}
main{
    background-color: aquamarine;
    height: 100%;
    /*this will allow the main content to scroll independently of other elements*/
    overflow:scroll;
}