html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 5px;
    font: 16px/1.5 -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
}
body {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 1fr 30px;
}

header {
    background-color: #8ca0ff;
}

footer {
    background-color: #8cffa0;
}

.main-content {
    display: grid;
    grid-template-columns: 100%;
    overflow: hidden;
    background-color: #ffff64;
}

.scroll {
    overflow-y: scroll;
    padding: 0 20px;
}