html, body {
    height: 100%;
    margin: 0;
    padding: 5px;
    font: 16px/1.5 -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
}
body{
    display:grid;
    height:100%;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 5em auto 5em;
}
header{
    grid-column: 1 / 3;
}
nav{
    grid-column: 1 / 2;
}
main{
    grid-column: 2 / 3;
}
footer{
    grid-column: 1 / 3;
}
header {
    background-color: #8ca0ff;
}
nav {
    background-color: #ffa08c;
}
main {
    background-color: #ffff64;
}
footer {
    
}