html, body {
    height: 100%;
    margin: 0;
    padding: 5px;
    font: 16px/1.5 -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
}

body {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "head head" "nav main" "foot foot";
    grid-template-rows: 5em auto 5em;
    grid-template-columns: 1fr 3fr;
}

header {
    grid-area: head;
    background-color: #8ca0ff;
}

nav {
    grid-area: nav;
    background-color: #ffa08c;
}

main {
    grid-area: main;
    background-color: #ffff64;
}

footer {
    grid-area: foot;
    background-color: #8cffa0;
}
