html, body {
    height: 100%;
    margin: 0;
    background-color: #383838;
    color: #dcdcdc;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.hljs-punctuation {
    color: white !important;
}
.mainContent{
    height: 100%;
    width: 100%;
    margin-top: 5em;
    
}
.navList{
    list-style-type : none;
}
.navList li{
    display: inline;
    padding-left: 1em;
    padding-right: 1em;
}
.navLink{
    font-weight:bold;
    color: #dcdcdc;
    text-align: center;
    text-decoration: none;
    font-size: 2em;
}
.navLink[current]{
    border-bottom: 0.5rem solid #403582;
}
.content{
    background-color: #1e1e1e;
    height: 100%;
}
.table{
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 600px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-family: 'Cascadia Code','Courier New', Courier, monospace;
    font-size: large;
}
.table thead tr{
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}
.table tbody tr td{
    padding-right: 2em;
}
.tableNameField{
    text-align: right;
}
/* #request{
    padding: 1em;
} */
#headers, #request{
    padding: 1em;
}